x-service: &service
  restart: unless-stopped
  networks:
    - media_network

x-user: &user
  <<: *service
  environment:
    - PUID=${USER_ID}
    - PGID=${GROUP_ID}
    - TZ=${TIMEZONE}

services:
  homarr:
    <<: *user
    image: ghcr.io/homarr-labs/homarr:latest
    container_name: ${HOMARR_NAME}
    volumes:
      - ./homarr/appdata:/appdata
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SECRET_ENCRYPTION_KEY=48184b13aa18eac953c25ce3dcce00dfc9e86d0ff743520c974826d8ef43bb03
    # ports:
    #   - ${HOMARR_PORT}:${HOMARR_PORT}

  filebrowser:
    <<: *user
    container_name: ${FILEBROWSER_NAME}
    image: hurlenko/filebrowser
    # ports:
    #   - ${FILEBROWSER_PORT}:${FILEBROWSER_INT_PORT}
    volumes:
      - /:/data/root
      - ./filebrowser:/config
      - downloads:/data/downloads
      - movies:/data/movies
      - shows:/data/shows

  portainer:
    <<: *service
    image: portainer/portainer-ce:latest
    container_name: ${PORTAINER_NAME}
    # ports:
    #   - ${PORTAINER_PORT}:${PORTAINER_PORT}
    volumes:
      - ./portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock

  n8n:
    <<: *service
    image: docker.n8n.io/n8nio/n8n
    container_name: ${N8N_NAME}
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=production
      - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
      - TZ=${GENERIC_TIMEZONE}
    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n:/files
